In [4]:
%reload_ext autoreload
%autoreload 2

In [5]:
# Import necessary libraries
import pandas as pd

In [6]:

# Load the data
data_path = './data/domains_location.csv' 
data = pd.read_csv(data_path)

# Display the first few rows of the dataframe to review it
display(data.head())

data.info()

  SourceCommonName location    Country
0       00221.info       SG    Senegal
1        01net.com       FR     France
2         01net.it       IT      Italy
3      0223.com.ar       AR  Argentina
4     022china.com       CH      China

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37802 entries, 0 to 37801
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SourceCommonName  37802 non-null  object
 1   location          37802 non-null  object
 2   Country           37801 non-null  object
dtypes: object(3)
memory usage: 886.1+ KB